.blogs_page {
    padding: 80px 0;
    overflow: visible;
    .blog_box {
        .cont {
            p {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    .posts .item {
        margin-bottom: 30px;
        .spical {
            margin: 15px !important;
            padding: 15px;
            border-inline-start: 4px solid $secColor;
        }
    }
    .blog .item {
        -webkit-box-shadow: 0px 20px 30px rgb(0 0 0 / 5%);
        box-shadow: 0px 20px 30px rgb(0 0 0 / 5%);
        background: #fff;
        border-radius: 5px;
        .post-img {
            padding: 8px;
            position: relative;
            .img {
                overflow: hidden;
                -webkit-box-shadow: 0px 10px 30px -10px rgb(0 0 0 / 10%);
                box-shadow: 0px 10px 30px -10px rgb(0 0 0 / 10%);
                display: block;
                &:hover {
                    img {
                        transform: scale(1.1) rotate(2deg);
                    }
                }
            }
            img {
                -webkit-transition: all .5s;
                transition: all .5s;
                width: 100%;
                height: auto;
            }
            .tag {
                position: absolute;
                right: 15px;
                bottom: 15px;
                font-size: 10px;
                font-weight: 500;
                color: #fff;
                a {
                    background-color: $secColor;
                    padding: 5px 10px;
                    border-radius: 20px;
                    color: #fff;
                    -webkit-box-shadow: 0px 10px 20px rgb(0 0 0 / 20%);
                    box-shadow: 0px 10px 20px rgb(0 0 0 / 20%);
                    display: inline-block;
                }
                .icon {
                    font-size: 8px;
                }
            }
        }
        .cont {
            padding: 30px 15px 15px;
            p {
                font-family: 'Muli', sans-serif;
                font-size: 14px;
                font-weight: 400;
                color: #7f7f7f;
                line-height: 1.8;
                margin: 0;
            }
        }
        h6 {
            font-size: 18px;
            margin-bottom: 15px;
            font-weight: 900;
        }
        .info {
            margin-top: 15px;
            padding-top: 15px;
            border-top: 1px solid #eee;
            display: flex;
            align-items: center;
            justify-content: space-between;
            a {
                color: #999;
                font-weight: 600;
                font-size: 11px;
                .author {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin: 0 5px -6px 0;
                    position: relative;
                    display: inline-block;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .icon {
                    font-size: 12px;
                    margin-right: 2px;
                }
            }
            .right {
                float: right;
            }
        }
    }
    .pagination {
        text-align: center;
        ul {
            margin: auto;
            li {
                float: left;
                margin: 0 5px;
                a {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    border-radius: 50%;
                    background-color: #fff;
                    display: block;
                }
            }
        }
        .active a {
            background-color: $secColor;
            color: #fff;
        }
    }
    .side-bar {
        position: sticky;
        top: 25px;
        .widget {
            padding: 30px 15px;
            border-radius: 5px;
            background-color: #fff;
            -webkit-box-shadow: 0px 20px 30px rgb(0 0 0 / 5%);
            box-shadow: 0px 20px 30px rgb(0 0 0 / 5%);
            margin-bottom: 30px;
            overflow: hidden;
            ul {
                margin-bottom: 0;
                li {
                    margin-bottom: 10px;
                    color: #444;
                    font-size: 13px;
                    i {
                        font-size: 10px;
                        margin-inline-end: 10px;
                    }
                }
            }
            .recent {
                li {
                    display: block;
                    overflow: hidden;
                }
                .thum {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    overflow: hidden;
                    float: left;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                a {
                    display: block;
                    margin-left: 60px;
                    line-height: 1.7;
                }
            }
        }
        .widget-title {
            margin-bottom: 30px;
            h6 {
                font-size: 12px;
                text-transform: uppercase;
                background-color: #fff;
                padding-bottom: 10px;
                border-bottom: 1px solid #eee;
            }
        }
        .gallery li {
            width: 33.33333%;
            float: left;
            border: 5px solid #fff;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

.posts .comments,
.posts .add-comment {
    padding: 30px 15px;
    -webkit-box-shadow: 0px 20px 30px rgb(0 0 0 / 5%);
    box-shadow: 0px 20px 30px rgb(0 0 0 / 5%);
    background: #fff;
    border-radius: 5px;
    .com {
        margin-bottom: 30px;
        .img {
            width: 60px;
            height: 60px;
            float: left;
            border-radius: 50%;
            border: 1px solid #eee;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .cont {
        margin-inline-start: 75px;
        h6 {
            font-size: 12px;
            margin-bottom: 5px;
        }
        span {
            color: #999;
            font-size: 11px;
            font-style: italic;
            margin-bottom: 10px;
        }
        p {
            font-family: 'Muli', sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: #7f7f7f;
            line-height: 1.8;
            margin: 0;
        }
    }
}

.posts {
    .title {
        font-size: 14px;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
        margin-bottom: 30px;
        color: $mainColor;
    }
    form {
        textarea {
            height: 140px;
            max-height: 140px;
            max-width: 100%;
            margin-bottom: 10px;
        }
        input,
        textarea {
            width: 100%;
            padding: 15px;
            background-color: #fafafa;
            border: 0;
            outline: none;
        }
        .main-btn {
            border-radius: 50px;
            margin-top: 30px;
            font-size: 14px;
        }
    }
}

@media(max-width:991.98px) {
    .blogs_page {
        .side-bar {
            margin-top: 40px;
            position: unset;
        }
    }
}