.services_hero {
    padding: 40px 0;
    .info {
        height: 100%;
        display: flex;
        align-items: center;
        h2 {
            color: $mainColor;
            font-weight: 900;
        }
    }
    .shape_1 {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: -1;
    }
    .shape_2 {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: -1;
    }
}

.counter-section {
    &.two {
        padding: 60px 0;
        color: #fff;
        text-align: center;
        h4 {
            font-weight: 900;
            font-size: 30px;
        }
        p {
            margin: 15px 0 20px;
        }
    }
}

.pricing_tables {
    margin: 50px 0;
    .bigtable {
        text-align: center;
        padding: 20px;
        transition: all .4s ease;
        &:hover {
            background-color: $mainColor;
        }
        .table-1 {
            border: 1px solid #e4e7e9;
            margin-bottom: 15px;
            background-color: #fff;
            padding: 15px;
            i {
                margin-bottom: 10px;
                color: $mainColor;
            }
            h2 {
                color: #838692;
                font-size: 30px;
                font-weight: 900;
                text-transform: capitalize;
            }
        }
        .table-2 {
            border: 1px solid #e4e7e9;
            background-color: #fff;
            padding: 0 30px 30px;
            p {
                color: #838692;
                line-height: 2.5;
            }
            span {
                color: $mainColor;
                font-size: 40px;
                font-weight: 800;
            }
            .btn-primary {
                background: none;
                border: none;
                color: #fff;
                padding: 10px 50px;
                border-radius: 0;
                background-color: $mainColor;
                text-transform: capitalize;
                transition: all 0.3s ease-in-out;
                text-align: center;
                &:hover {
                    color: #fff;
                    background-color: $secColor;
                }
            }
        }
    }
    .text {
        text-align: center;
        color: $mainColor;
        font-weight: 900;
        width: 80%;
        margin: 20px auto;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .pricing {
        .bigtable {
            .table-2 {
                span {
                    font-size: 19px;
                }
                .btn-primary {
                    padding: 10px 25px;
                    font-size: 13px;
                }
            }
        }
    }
}

@media(max-width:991.98px) {
    .services_hero .info {
        margin-top: 25px;
    }
}

@media(max-width:575.98px) {
    .services_hero .shape_1,
    .services_hero .shape_2 {
        display: none;
    }
    .services_hero {
        .info {
            p {
                font-size: 14px;
            }
        }
    }
    .counter-section.two h4 {
        font-size: 22px;
    }
    .counter-section.two p {
        margin: 10px 0;
        font-size: 15px;
    }
    .pricing_tables .text {
        width: 100%;
        font-size: 14px;
    }
}