/*--------------------------------------------------------------
# Start Global Page
--------------------------------------------------------------*/

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter.ttf);
}

@font-face {
    font-family: handlee;
    src: url(../fonts/Handlee-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins.ttf);
}

html,
body {
    height: 100%;
}

body {
    background-color: #fff;
    color: #636363;
    text-align: start;
    font-family: Poppins, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    outline: none !important;
}

label {
    margin-inline-start: 2px;
}

a {
    transition: .3s;
    text-decoration: none;
    color: $mainColor;
    &:hover {
        color: $mainColor;
        text-decoration: none;
    }
}

.overlay_gen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 13%);
    z-index: 999999999;
    display: none;
}

section {
    overflow: hidden;
    position: relative;
}

.mt-50 {
    margin-top: 50px;
}

.owl-carousel {
    direction: ltr;
}

.main-color {
    color: $mainColor;
}

.sec-color {
    color: $secColor;
}

.bg_main-color {
    background-color: $mainColor;
}

.display-table {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.nt-logo img {
    width: 140px;
}

.elementor-kit-1 img {
    border-radius: 5px;
}

.pagination-list {
    text-align: center;
    margin-top: 20px;
    .pagination-li {
        width: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid $mainColor;
        color: $mainColor;
        margin: 0 5px;
        transition: .3s;
        &.active {
            background-color: $mainColor;
            color: #fff;
        }
        &:hover {
            background-color: $mainColor;
            color: #fff !important;
        }
    }
}

.play-btn {
    width: 60px;
    height: 60px;
    background: radial-gradient($mainColor 50%, $secColor 52%);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.play-btn::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    border: 2px solid $secColor;
    opacity: 1;
    border-radius: 50%;
    top: -50%;
    left: -50%;
    animation: pulsate-btn 2s infinite;
}

.play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: 0.6s;
}

.play-btn:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 101;
    animation: none;
    border-radius: 0;
}

.play-btn:hover::after {
    border-left: 15px solid $mainColor;
    transform: scale(20);
}

@keyframes pulsate-btn {
    0% {
        transform: scale(0.3, 0.3);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

.list-item {
    ul {
        background: $mainColor;
        color: #fff;
        display: flex;
        justify-content: space-between;
        border-radius: 4px;
        overflow: hidden;
        li {
            display: inline-block;
            width: 100%;
            border-left: 1px solid #fff;
            padding: 10px;
            text-align: center;
            transition: .3s;
            cursor: pointer;
            &:hover,
            &.active {
                background: $secColor;
            }
        }
    }
}


/*--------------------------------------------------------------
# End Global Page
--------------------------------------------------------------*/