/*--------------------------------------------------------------
# Start page header
--------------------------------------------------------------*/

.page-tittle {
    position: relative;
    height: 293px;
    background-image: url(../img/counter_bg.png);
    background-size: cover;
    background-position: center;
    .overlay {
        background-color: rgba(13, 16, 31, 0.7);
    }
    .info {
        h2 {
            color: #fff;
            text-transform: capitalize;
            font-weight: 600;
            font-size: 50px;
            margin: 0;
            @media (max-width: 767px) {
                font-size: 55px;
            }
            @media (max-width: 575px) {
                font-size: 37px;
            }
        }
        @media (max-width: 575px) {
            line-height: 40px;
        }
    }
}


/*--------------------------------------------------------------
  # End page header
  --------------------------------------------------------------*/